body {
    background-color: #313131;
    font-family: Calibri, sans-serif;
    margin: 0;
    background: rgb(54,54,54);
    background: linear-gradient(90deg, #313131 100%, #363636 0%);
  }
  
  h1 {
    color: white;
    font-size: 50px;
    text-align: center;
  }
  
  p {
    color: white;
    font-size: 25px;
    text-align: center;
  }

  button {
    background-color: #82b1ff;
    border: none;
    color: white;
    padding: 40px 60px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px; /* Add border-radius property */
    transition: transform 0.4s; /* Add transition property for smooth animation */
    box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2); /* Add box-shadow property */
  }

  .back {
  background-color: #494949;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px; /* Add border-radius property */
    transition: transform 0.4s; /* Add transition property for smooth animation */
    box-shadow: none;
    margin-left: 10%;
}

.back:hover {
  background-color: #5f5f5f;
  transform: scale(1.1); /* Change the size when hovered */
  box-shadow: none
}

.back:active {
  background-color: #555555;
  color: whitesmoke;
  transform: scale(1); /* Change the size when hovered */
  box-shadow: none
}
  
  #game-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  #dot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #82b1ff;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.75s, left 0.75s, top 0.75s;
    box-shadow: 0 0 50px #82b1ff;
  }
  
  #score {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 25px;
  }
  
  .trail {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #82b1ff;
    border-radius: 50%;
    opacity: 0.8;
    animation: trail 1s forwards;
  }
  
  @keyframes trail {
    from {
      opacity: 0.8;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(1.5);
    }
  }

@media only screen and (max-width: 1200px) {
    /* Change the padding, font-size, and margin for smaller screens */
    #dot {
      width: 100px;
      height: 100px;
    }
    
    #game-container {
    width: 90%;
    height: 90%;
  }
    
  
